/* Задание отдельного шрифта из ttf файла
Далее к этому шрифту можно обращаться через имя,
заданное в  font-family
@font-face{
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.ttf');
}
*/

/*Селектор для корневого элемента */
.root{
    /*Размер текста*/
    -fx-font-size: 16pt;

    /*Цвет фона. Цвет можно задавать разными способами*/
    /* -fx-background: rgb(225, 228, 203); */
     -fx-background: #cceaff;
}

/* Селектор для всех кнопок */
.button{
    /*Цвет текста*/
    -fx-text-fill: #000;
}

/* Селектор для элемента с именем LabelPi*/
#LabelPi{
    -fx-font-size: 18pt;
    /* Задание системного шрифта*/
    -fx-font-family: 'Source Code pro', 'monospace';
    /*Рекомендуется приводить несколько шрифтов,
    если первый шрифт недоступен, то будет использован последующий

    monospace - заданный по умолчанию в системе моноширинный шрифт
    serif - шрифт с засечками
    Sans-serif - без засечек
    */
}